.small{
    width: calc(100% / 7)!important;
}



.cell{
    font-size: 50px;
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    color: white;
    width: calc(100% / 10);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

